@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=La+Belle+Aurore&display=swap');
:root{
  --cream:        #e9dfc6;
  --blue:        #1f4e5a;
  --red:        #c85c3a;  
  --brown:        #a26e4a;
  --olive:        #6a7b52;
  --white:        #f2eee6;
 
  --font-titles: 'La Belle Aurore', cursive;
  --font-subtitles: 'Cormorant Garamond', serif;
  --font-display: 'Bebas Neue', cursive;
  --font-body:    'Montserrat', sans-serif;
}

/* configuracion default de todos los elementos */

* { 
 box-sizing:border-box; 
}
html { 
  scroll-behavior:smooth; 
}
body {
  margin:0;
  background: var(--cream);
  color: var(--blue);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}
#root {
  display: grid;
  grid-template-rows: [fila-1] 116px [fila-2] auto [fila-3] auto [fila-4];
}
img { 
  max-width:100%; 
  display:block; 
}
button { 
  font-family:inherit; 
  cursor:pointer; 
  border:none; 
}
a { 
  color:inherit; 
  text-decoration:none; 
}
h1 {
  font-family: var(--font-titles);
  margin:0;
}
h2,h3,h4 {
  margin: 0;
}