.main-hero {
    grid-row: fila-2;
    width: 100%;
    display: grid;
    grid-template-rows: [fila-1] 85vh [fila-2] 50vh [fila-3] auto [fila-4] auto [fila-5];
}
.hero-section1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: fila-1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/fondo1.jpg');
    background-size: cover;
}
.hero-section1 p {
    color: var(--cream);
    text-align: center;
}
.hero-content {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    color: var(--cream);
    margin-bottom: 1em;
}

/*Seccion 2*/
.hero-section2 {
    grid-row: fila-2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.hero-subtitle {
    font-family: var(--font-subtitles);
    font-size: 2.2rem;
    margin: 0.5em 0;
    text-align: center;
    font-weight: 900;
}
.hero-p-subtext {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
}
/*seccion 3*/
.hero-section3 {
    background-color: var(--white);
    grid-row: fila-3;
}
.hero-content2 {
    padding: 1em;
}
.hero-subtitle2 {
    font-family: var(--font-subtitles);
    font-size: 2.2rem;
}
.div-cards1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em auto;
}
/*seccion 4*/
.hero-section4 {
    background-color: var(--white);
    grid-row: fila-4;
    color: var(--olive);
}
.div-cards3-sec4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2em auto;
}
.card3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.card3-center {
    grid-column: 1 / -1;
}
.hero-title-sec4 {
    font-family: var(--font-display);
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    /*Seccion 1*/
    .hero-title {
        font-size: 4rem;
        max-width: 900px;
    }
    /*Seccion 2*/
    .hero-subtitle {
        font-size: 2.5rem;
        max-width: 800px;
    }
    .hero-p-subtext {
        max-width: 800px;
    }
    /*seccion 3*/
    .hero-content2 .hero-p-extra {
        margin-left: 30px;
    }
    .hero-subtitle2 {
        margin-left: 30px;
    }
    /*seccion 4*/
    .div-cards3-sec4 {
        grid-template-columns: repeat(3, 1fr);
    }
    .card3-center {
        grid-column: 3;
    }
    .hero-title-sec4 {
        font-size: 4rem;
    }
}

@media (min-width: 900px) {
    /*seccion 3*/
    .hero-content2 .hero-p-extra {
        margin-left: 40px;
    }
    .hero-subtitle2 {
        margin-left: 40px;
    }
}